# Python
__pycache__/
*.py[cod]
*$py.class
.venv*/
*.pyc

# Virtual Environment
venv/
.venv/
.venv-*/
ENV/

# Temporary files
temp/
logs/
*.log
*.tmp

# Downloaded data and PDFs
*.pdf
stored_pdfs/
downloaded_data/

# Jupyter Notebook
.ipynb_checkpoints

# Distribution / packaging
dist/
build/
*.egg-info/

# Local development settings
.env
.vscode/
.idea/